[Unit]
Description=VitaBox
Requires=After=mongod.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/node /home/pi/Desktop/VitaBox/main.js
#ExecStart=/usr/bin/npm run prod /home/pi/Desktop/VitaBox/main.js
##Required on some systems
WorkingDirectory=/home/pi/Desktop/VitaBox
Restart=always
##Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target

## Clean syslog
#sudo dd if=/dev/null of=/var/log/syslog
##to get the last 25 lines of the syslog file
#tail -25 /var/log/syslog